* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(80, 80, 80);
}

section {
    border-left-style: solid;
    margin: 5em;
    padding-left: 20px;
}

/* apply styles to header starts */
header {
    padding: 20px;
    background-color: rgb(50, 50, 50);
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header a {
    color: rgb(255,255,255);
    text-decoration: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 1em;
}

header nav a {
    padding: 25px;
}
/* apply styles to header ends */

/* apply styles to About Me Section starts */

.bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bio img {
    display: block;
    margin: 1em auto 1em auto;
    width: 25%;
}
/* apply styles to About Me Section ends */

/* apply styles to Work Section starts */
.work section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* apply styles to Work Section ends */

/* apply styles to Contact Section starts */
.contact section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* apply styles to Contact Section ends */