* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: dotted;
  }

  /* apply styles to body starts */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(80, 80, 80);
}

section {
    display: flex;
}

section h2 {
    padding-left: 1.5em;
    margin-right: 1px;
    writing-mode: vertical-rl;
    text-align: center;
}

section article {
    border-left-style: solid;
    border-width: 5px;
    margin: 5em;
    padding-left: 20px;
}
/* apply styles to body ends */

/* apply styles to header starts */
header {
    padding: 20px;
    background-color: rgb(50, 50, 50);
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header a {
    color: rgb(255,255,255);
    text-decoration: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 1em;
}

header nav a {
    padding: 25px;
}
/* apply styles to header ends */

/* apply styles to About Me Section starts */
.bio img {
    display: block;
    margin: 1em auto 1em auto;
    width: 25%;
}
/* apply styles to About Me Section ends */

/* apply styles to Work Section starts */

.quiz {
    display: block;
    text-align: center;
}

.work-projects {
    display: flex;
    justify-content: space-around;
}


.run-buddy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.run-buddy h3 {
    text-align: center;
}

.run-buddy img {
    width: 100%;
}

.pwd-generator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pwd-generator h3 {
    text-align: center;
}

.pwd-generator img {
    width: 100%;
}


/* apply styles to Work Section ends */

/* apply styles to Contact Section starts */
.contact {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* apply styles to Contact Section ends */